<IfModule mod_rewrite.c>
    RewriteEngine On

    # Aturan untuk detail artikel berdasarkan ID
    RewriteRule ^detailartikel/([0-9]+)$ index.php?action=detailArtikel&id_artikel=$1 [QSA,L]
    RewriteRule ^detailProgram/([0-9]+)$ index.php?action=detail&id_program=$1 [QSA,L]

    # Aturan untuk menangani request ke halaman lainnya (login, register, dll.)
    RewriteRule ^login$ index.php?action=login [QSA,L]
    RewriteRule ^register$ index.php?action=register [QSA,L]
    RewriteRule ^transaksi$ index.php?action=prosesTransaksi [QSA,L]
    RewriteRule ^admin$ index.php?action=admin [QSA,L]
    RewriteRule ^artikel$ index.php?action=artikel [QSA,L]
    RewriteRule ^profile$ index.php?action=profile [QSA,L]

    # Hilangkan .php dari file lainnya
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]

    # Aturan default untuk menangani semua permintaan lainnya
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?action=$1 [QSA,L]

</IfModule>
